.Banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 10px 80px 96px;
    gap: 4px;
    width: 1512px;
    height: 608px;
}

/** Banner  */

.Banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 105px;
    width: 1406px;
    height: 448px;
}

/** Banner Left Contents  */

.Banner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 529px;
    height: 358px;  
    position: relative;

}

.Banner-left h2 {
    /* Online ödəniş etməyin ən asan yolu */
    width: 536px;
    height: 112px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* ClickPay/Green */
    color: #44BC82;
}

.Banner-left h2 span {
    color: #586268;
    
}

.Banner-left p {
    width: 536px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
/* Secondary/900 */
    color: #586268;
    margin-top: 20px;
}



.Banner-left p {
    width: 536px;
    height: 48px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* Secondary/900 */

    color: #586268;
}

/**  BANNER BUTTON */

.Banner-left button {
    height: 48px;
    width: 137px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -7.08px;
    bottom: 0%;
    /* Primary/700 */
    background: #0D52FF;
    border-radius: 8px;
    color: #F8FAFC;
    box-shadow: 0px 4px 19px rgba(48, 46, 150, 0.25);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
} 

.Banner-left button:hover{
    background-color: #110CDF;
}

.Banner-left button img {
    font-size: 14px;
    margin-right: 8px;
}


/** BANNER RIGHT */

.Banner-right {
    width: 772px;
    height: 448px;
    position: relative;
}


.Banner-right .services-img img {
    position: absolute;
    right: 398px;
    bottom: -43px;
    filter: drop-shadow(0px 4px 60px rgba(54, 64, 224, 0.08));

}

.Banner-right .card-img img {
    position: absolute;
    top: 4px;
    left: 136px;
    filter: drop-shadow(0px 4px 60px rgba(54, 64, 224, 0.08));
    z-index: 2;

}


/** INPUT IMAGE */

.input-img img {
    position: absolute;
    right: -10px;
    bottom: -60px;
    filter: drop-shadow(0px 4px 60px rgba(54, 64, 224, 0.08));
}